

body{
	background: #272822;
	font-family: 'Roboto', sans-serif;
}


/*Tittle*/
.title {
	text-align: center;
	color: white;
	font-size: 3rem;
}

/*Back arrow*/
ul {
  	margin: 1.5em 2em 1em;
  	text-align: center;
  	list-style: none;

}

ul + ul {
  	margin-top: -1em;
}
ul li {
  	display: inline-block;
}

ul > a {
	color: white;
}

ul > a:hover {
	color: white;
}

.arrow {
  	display: inline-block;
  	width: 15px;
  	height: 15px;
  	border-top: 2px solid #fff;
  	border-right: 2px solid #fff;
}

.arrow-left {
  	transform: rotate(-135deg);
}

.back-box {
	float: left;
}


/* table stalying */
table {
  margin: auto;
	text-align: center;
	width: 80%;
	height: 100%;
  background: #333;
}

thead {
  font-size: 1.5rem;
}

th {
	color: white;
}


th, td{
	border: thin solid white;
  padding: 2px 10px;
}

td {
	word-break: break-word;
	color: #f0f0f0;
  font-family: sans-serif;
}





